<div class="gallery-item">

  <div class="info"
    ng-if="!galleryItemCtrl.showEditor">
    <div class="field">
      <span class="key">name:</span>
      <span>{{ galleryItemCtrl.gallery.name }}</span>
    </div>

    <div class="field">
      <span class="key">description:</span>
      <span>{{ galleryItemCtrl.gallery.desc }}</span>
    </div>

    <div class="field">
      <span class="key">created:</span>
      <span>{{ galleryItemCtrl.gallery.created | date }}</span>
    </div>
  </div>
  <div class="buttons" ng-if="!galleryItemCtrl.showEditor">
    <button ng-click="galleryItemCtrl.delete()">delete</button>
    <button ng-click="galleryItemCtrl.showEditor = true">edit</button>
  </div>

  <edit-gallery
    ng-if="galleryItemCtrl.showEditor"
    gallery="galleryItemCtrl.gallery"
    on-complete="galleryItemCtrl.showEditor = false">
  </edit-gallery>

  <div class="clear-fix"></div>
</div>
