@import "../scss/lib/theme/vars";

.social-icon {
  display: inline-block;
  background: white;
  margin: 0 7px;
  display: inline-block;
  background-image: url(../../assets/sn-icons.png);
  background-repeat: no-repeat;
  background-size: 591%;
  width: 30px;
  height: 30px;
}
.twitter {
  background-position: -37px 0px;
}
.youtube {
  background-position: -74px 0;
}
