@import "../../../scss/lib/theme/vars";

.edit-gallery {
  .field {
    display: flex;
    flex-direction: row;
    input {
      padding: 0 1.5vw;
      background: #AAA;
      flex: auto;
      border: 1px solid $brand-primary;
      color: $brand-primary;
    }
  }
}
