.landing {
  width: 100%;
  height: 100%;
}

.join-container {
  width: 90%;
  max-width: 500px;
  height: 50%;
  margin: 0 auto;
  padding: 2vw;
}

.join-inner {
  position: relative;
  margin-bottom: 2vw;
  input {
    margin-bottom: 4vw;
  }
  button {
    width: 20vw;
    height: 7vw;
    float: right;
  }
}

.join-footer {
  float: right;
  a, p {
    display: inline;
  }
}
